<ion-view view-title="Sign-In">
<ion-header-bar class="bar-secondary">
	<h1 class="title">Register - Full Name</h1>
	<!--button class="button button-clear button-positive" ng-click="_click_closeAddFavouriteModal()">Skip  </button-->
</ion-header-bar>
<ion-content>
	<label class="item item-input">
		<i class="icon ion-person placeholder-icon"></i>
		<input type="text" placeholder="Full Name" ng-model="fullname">
	</label>	
	<div class="padding">
		<button class="button button-block button-positive" ng-click="register_basic(fullname)">
		  OK
		</button>
		<p class="text-center">
		  <a href="#/tab/main">Skip >></a><span class="fontawesome-arrow-right"></span>
		  <a href="#/tab/main">Skip >></a><span class="fontawesome-arrow-right"></span>
		</p>
	</div>
</ion-content>
</ion-view>
