<ion-view view-title="Sign-In"  id="login-body">

<div class="container">
   <div id="login">
      <form action="javascript:void(0);" method="get">
         <p><span class="icon ion-person"></span>
            <input type="text" ng-model="user.username" placeholder="Username">
         </p>
         <p><span class="icon ion-locked "></span>
            <input type="password" ng-model="user.password" placeholder="Password">
         </p>
         <p><input type="submit" value="Sign In" ng-click="signIn(user.username, user.password)"></p>
      </form>
      <p>Forget password? <a href="#">Click here now</a><span class="fontawesome-arrow-right"></span></p>
   </div>
   <!-- end login -->
</div>


  <!--div class="list">
	<label class="item item-input">
	  <span class="input-label">Username</span>
	  <input type="text" ng-model="user.username">
	</label>
	<label class="item item-input">
	  <span class="input-label">Password</span>
	  <input type="password" ng-model="user.password">
	</label>
  </div>
  <div class="padding">
	<button class="button button-block button-positive" ng-click="signIn(user.username, user.password)">
	  Sign-In
	</button>
	<p class="text-center">
	  <a href="#/forgot-password">Forgot password</a>
	</p>
  </div-->

</ion-view>