<ion-view title="Main">	
    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
		<ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
			Back
		</ion-nav-back-button>
    </ion-nav-bar>
	
<ion-side-menus>
	<!-- Center content -->
	<ion-side-menu-content edge-drag-threshold="true" drag-content="true">
		<ion-header-bar class="bar bar-subheader">
			<div class="button-bar">
			<a class="button button-icon icon ion-compose" ng-click="clickCreateNew()"></a>
			<a class="button button-icon icon ion-images" ng-click="clickCreateNew()"></a>
			<a class="button button-icon icon ion-help-circled" ng-click="clickCreateNew()"></a>
			</div>
		</ion-header-bar>	
		<ion-nav-buttons side="left">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</ion-nav-buttons>
    <ion-content class="padding ion-shrink-content" header-shrink scroll-event-interval="5" has-bouncing="false">
	<div style="height: 80px;"></div>
	<div class="list card" ng-repeat="myitem in PostList track by myitem.id">
	 <div class="item item-avatar">
		<img src="http://localhost:5000/avatar/{{myitem.owner.avatar}}">
		<h2>{{myitem.owner.name}}</h2>
		<p>{{myitem.metadata.create_time}}</p>
	  </div>
	  <div class="item item-body">
		<v-trim-content id="{{myitem.id}}"></v-trim-content>
		<p>
		  <a href="#" class="subdued">{{myitem.i.l}} Like</a>
		  <a href="#" class="subdued">{{myitem.i.c}} Comments</a>
		  <a href="#" class="subdued">{{myitem.i.r}} Relay</a>
		</p>
	  </div>

	  <div class="item tabs tabs-secondary tabs-icon-left">
		<a class="tab-item" ng-click="_click_Like({{myitem.id}}, $index)">
		  <i class="icon ion-thumbsup"></i>
		  Like
		</a>
		<a class="tab-item" ng-click="_click_Comment({{myitem.id}})">
		  <i class="icon ion-chatbox"></i>
		  Comment
		</a>
		<a class="tab-item" ng-click="_click_Relay({{myitem.id}}, $index)">
		  <i class="icon ion-share"></i>
		  Relay
		</a>
	  </div>

	</div>

  </ion-content>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">NexplorR</h1>
    </header>
    <ion-content class="has-header">
	
		<div class="list">

		  <a class="item item-icon-left" ng-click="RadarHere()" menu-close>
			<i class="icon ion-navigate"></i>
			Here&Now
		  </a>
		  <div class="item item-divider item item-icon-right">
			Favourite
			<a class="button button-small button-icon icon ion-plus-circled" ng-click="clickAddFavourite()" ></a>
		  </div>
		  <a menu-close enable-menu-with-back-views="false" class="item item-icon-left item-icon-right"  ng-repeat="fav in FavouriteList" ng-click="RadarFavourite({{fav.id}})" >
			<i class="icon {{build_favourite_icon(fav)}}"></i>
			{{fav.n}}
			<i class="icon "></i>
		  </a>

		</div>
    </ion-content>
  </ion-side-menu>

  <!-- Right menu -->
  <ion-side-menu side="right">
  </ion-side-menu>
</ion-side-menus>
</ion-view>

<script id="popup-add-favourite.html" type="text/ng-template">
  <ion-modal-view>
	 <ion-header-bar class="bar-secondary">
		  <h1 class="title">Add Favourite Radar</h1>
		  <button class="button button-clear button-positive" ng-click="_click_closeAddFavouriteModal()">Cancel</button>
	</ion-header-bar>
	    <ion-content>
      <form ng-submit="_click_addFavourite(favourite_name)">
		  <div class="item item-input-inset">
			<label class="item-input-wrapper">
			  <input type="text" placeholder="Email"  ng-model="favourite_name">
			</label>
			<button class="button button-small">
			  Submit
			</button>
		  </div>
      </form>
    </ion-content>
  </ion-modal-view>
</script>

<script id="popup-create-new.html" type="text/ng-template">
  <ion-modal-view>
	 <ion-header-bar class="bar-secondary">
		  <h1 class="title">New Post</h1>
		  <button class="button button-clear button-positive" ng-click="_click_closeCreateNewModal()">Cancel</button>
	</ion-header-bar>
	
    <ion-content>
      <form ng-submit="_click_createPost(message)">
		<div class="list">
		  <label class="item item-input">
			<textarea placeholder="What you want to say?" rows="20" ng-model="message.Content"></textarea>
		  </label>
		</div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive" >Create</button>
        </div>
      </form>
    </ion-content>
  </ion-modal-view>
</script>