<ion-view title="Main">	
    <ion-nav-bar class="bar-dark nav-title-slide-ios7">
		<ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
			Back
		</ion-nav-back-button>
    </ion-nav-bar>
	
	<ion-side-menus>
		<!-- Center content -->
		<ion-side-menu-content edge-drag-threshold="true" drag-content="true">
			<ion-header-bar class="bar bar-subheader">
				<div class="button-bar">
				<a class="button button-icon icon ion-compose" ng-click="openCreatePostModal('Create Post', 0)"></a>
				<a class="button button-icon icon ion-images" ng-click="openCreatePostModal('Upload Photos Gallery', 0)"></a>
				<a class="button button-icon icon ion-help-circled" ng-click="openCreatePostModal('Ask Question', 1)"></a>
				</div>
			</ion-header-bar>	
			
			<ion-nav-buttons side="left">
				<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
			</ion-nav-buttons>
			
			<ion-content class="padding ion-shrink-content" header-shrink scroll-event-interval="5" has-bouncing="false" on-scroll-complete="checkTop()">
				<div style="height: 80px;"></div>
				<!--div class="list card" ng-repeat="myitem in PostList track by myitem.id"-->
				<div class="list card" ng-repeat="myitem in PostList | orderBy : '-id'">
				 <div class="item item-avatar" style="padding-top:6px;padding-bottom:6px;min-height:62px">
					<img ng-if="myitem.owner.avatar===undefined || myitem.owner.avatar===null" style="top:6px" name="{{myitem.owner.nickname}}" img-initial>
					<img ng-if="myitem.owner.avatar!==undefined && myitem.owner.avatar!==null" ng-src="{{getAvatarPath(myitem.owner.avatar)}}" style="top:6px;width:40px;height:40px">
					<h2 style="display:inline !important"><a href="#/tab/main/profile/{{myitem.owner.id}}" style="text-decoration: none;color: #222; font-weight: bold;">{{myitem.owner.nickname}}</a>
					<span style="color: #777;font-size:small"> {{ myitem.type ===0 ? ' created post ' : ' ask a question '}} </span><i class="icon ion-chatboxes" ng-show="(myitem.type===1)"></i>
					</h2>
					<p><trim-datetime create-datetime="myitem.metadata.create_time"/></p>
				  </div>
				  <div class="item item-body" style="padding-top: 0px;border-top-style: none;">
					<content-trim id='myitem.id'  tab='"main"' content='myitem.content'></content-trim>
					<interactive-count myitem="myitem" ></interactive-count>
				  </div>				  
				  <interactive-tabs myitem="myitem" myid="myid" on-like="clickLike(myitem)" on-comment="clickComment(myitem)" on-relay="clickRelay(myitem)"></interactive-tabs>
				</div>
				
				<ion-infinite-scroll ng-if="is_show_infinite_scroll" on-infinite="load_more_post()" icon="ion-loading-c" distance="1%">
				</ion-infinite-scroll>			
		  </ion-content>
	  </ion-side-menu-content>

	  <!-- Left menu -->
	  <ion-side-menu side="left">
		<header class="bar bar-header bar-stable">
		  <h1 class="title">NexplorR</h1>
		</header>
		<ion-content class="has-header">
			<div class="list">
			  <a class="item item-icon-left" ng-click="clickRadarHere()" menu-close>
				<i class="icon ion-navigate"></i>
				Here&Now
			  </a>
			  <div class="item item-divider item item-icon-right">
				Favourite
				<a class="button button-small button-icon icon ion-plus-circled" ng-click="openAddFavouriteModal()" ></a>
			  </div>
			  <a menu-close enable-menu-with-back-views="false" class="item item-icon-left item-icon-right"  ng-repeat="fav in FavouriteList" ng-click="clickRadarFavourite({{fav.id}})" >
				<i class="icon {{getFavouriteIcon(fav)}}"></i>
				{{fav.n}}
				<i class="icon "></i>
			  </a>
			</div>
		</ion-content>
	  </ion-side-menu>

	  <!-- Right menu -->
	  <ion-side-menu side="right">
	  </ion-side-menu>
	</ion-side-menus>
</ion-view>

<!-- popup-add-favourite.html -->
<script id="popup-add-favourite.html" type="text/ng-template">
  <ion-modal-view>
	 <ion-header-bar class="bar-secondary">
		  <h1 class="title">Add Favourite Radar</h1>
		  <button class="button button-clear button-positive" ng-click="closeAddFavouriteModal()">Cancel</button>
	</ion-header-bar>
	    <ion-content>
      <form ng-submit="create_radar_favourite(favourite_name)">
		  <div class="item item-input-inset">
			<label class="item-input-wrapper">
			  <input type="text" placeholder="Email"  ng-model="favourite_name">
			</label>
			<button class="button button-small">
			  Submit
			</button>
		  </div>
      </form>
    </ion-content>
  </ion-modal-view>
</script>

<!-- popup-create-new.html -->
<script id="popup-create-new.html" type="text/ng-template">
  <ion-modal-view>
	 <ion-header-bar class="bar-secondary">
		  <h1 class="title">{{pop_up_name}}</h1>
		  <button class="button button-clear button-positive" ng-click="closeCreatePostModal()">Cancel</button>
	</ion-header-bar>
	
    <ion-content>
      <form ng-submit="create_post(message)">
		<div class="list">
		  <label class="item item-input" style="border-width:0px" >
			<textarea placeholder="What you want to say?" rows="2" ng-model="message.Content" auto-grow></textarea>
		  </label>
		</div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive" >Create</button>
        </div>
      </form>

	<ion-list can-swipe="true">
	  <ion-item ng-repeat="item in photos"
				class="item-thumbnail-left"
				ng-class="{'hide-it' : item.hideIt}">
		<img ng-src="{{item.img}}">
		<h2>{{item.title}}</h2>
		<ion-option-button class="button-positive" ng-click="item.hideIt = true; deleteItem($index)">
		  Delete
		</ion-option-button>

	  </ion-item>
	</ion-list>

    </ion-content>
	<ion-footer-bar keyboard-attach align-title="right" class="bar-light item-input-inset" >

			<a class="button button-icon icon ion-camera" ng-click=""></a>
			<a ng-if="type===1" class="button button-icon icon ion-cash" ng-click=""></a>
			<a class="button button-icon icon ion-cash" ng-click="" style="visibility: hidden"></a>
			
	</ion-footer-bar>

  </ion-modal-view>
</script>