<ion-view title="Comment Detail">
    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Back
      </ion-nav-back-button>
    </ion-nav-bar>
	
  <ion-content class="has-header">
<div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>

</div>
  </ion-content>
  
    
   <ion-footer-bar keyboard-attach align-title="left" class="bar-light item-input-inset" >
	<!--a class="button button-icon icon ion-camera" style="margin-right:10px"></a-->
    <label class="item-input-wrapper">
      <input type="text" placeholder="Write a comment...">
    </label>
    <button class="button button-clear button-stable">
      Post
    </button>
</ion-footer-bar>
</ion-view>
