<ion-view title="Dashboard">
    <ion-nav-bar class="bar-dark nav-title-slide-ios7">
		<ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
			Back
		</ion-nav-back-button>
    </ion-nav-bar>
  <ion-content class="">
      <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->
      
	<div class="list">
	  <a class="item item-icon-left" href="#/tab/me/myprofile">
		<i class="icon ion-document-text"></i>
		Profile
	  </a>
	  <a class="item item-icon-left" href="#/tab/me/postlist">
		<i class="icon ion-compose"></i>
		My Post
		<span class="badge badge-assertive">100</span>
	  </a>
	  <a class="item item-icon-left item-icon-right" href="#/tab/me/history">
		<i class="icon ion-clock"></i>
		Activities History
		<i class="icon ion-trash-b"></i>
	  </a>

	<div class="item item-divider">
		Others
	</div>
	  <a class="item item-icon-left" href="#/tab/me/settings">
		<i class="icon ion-gear-a"></i>
		Settings
		<span class="item-note">
		  Security settings
		</span>
	  </a>
	  <a class="item item-icon-left" href="#/tab/me/policy">
		<i class="icon ion-clipboard"></i>
		Policy
	  </a>
	  <a class="item item-icon-left" href="#/tab/me/help">
		<i class="icon ion-information"></i>
		Help
	  </a>	  	  
	  <a class="item item-icon-left" ng-click="logout()">
		<i class="icon ion-log-out"></i>
		Log Out
	  </a>

	</div>
  </ion-content>
</ion-view>

