<ion-view title="User Profile">
    <!--ion-nav-bar class="bar-positive nav-title-slide-ios7 bar-light transparent-nav" style="background: none; border-bottom: none"-->
	<ion-nav-bar class="bar-dark nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Back
      </ion-nav-back-button>
    </ion-nav-bar>

	<!--ion-content class="has-header fb-profile-content" -->   
	<ion-content class="has-header" has-bouncing="false">   	
		<div style="margin-bottom:20px">
			<img style="  z-index: 0;width: 100%;height: 70px;background-color: #112244;" />
			<img ng-if="Profile.avatar===null" align="left" class="fb-image-profile thumbnail" alt="Profile image" name="{{Profile.nickname}}" img-initial>
			<img ng-if="Profile.avatar!==null" align="left" class="fb-image-profile thumbnail" alt="Profile image" ng-src="{{getAvatarPath(Profile.avatar)}}" >
			<div class="fb-profile-text">
				<h1>{{getProfileName()}}</h1>
				<p><a href="#" class="subdued"></a></p>
			</div>
		</div>
		<!--div class="list card">
			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="#">
				  <i class="icon ion-thumbsup"></i>
				  Like
				</a>
				<a class="tab-item" href="#">
				  <i class="icon ion-chatbox"></i>
				  Comment
				</a>
				<a class="tab-item" href="#">
				  <i class="icon ion-share"></i>
				  Share
				</a>
			</div>
		</div-->
		<ul class="list">
			<div class="item item-divider"></div>
			
			<div class="item">{{getProfileName()}}'s Activity</div>
			
			<div class="item item-divider">
				<span class="item-note" style="font-weight: 100">
				<trim-datetime create-datetime="ProfilePostList[0].metadata.create_time"></trim-datetime>
				</span>
			</div>

			<div class="list card" ng-repeat="myitem in ProfilePostList | orderBy : '-id'">
				<div class="item">
					<span style="color: #777;font-size:small">{{ myitem.type === 0 ? 'Created post' : 'Asked a question '}}</span>
					<i class="icon ion-chatboxes" ng-show="(myitem.type===1)"></i>
					<small> on </small><trim-datetime create-datetime="myitem.metadata.create_time" ></trim-datetime>
				</div>
				<div class="item item-body" style="padding-top: 0px;border-top-style: none;">
					<content-trim id='myitem.id'  tab='tab' content='myitem.content'></content-trim>
					<interactive-count myitem="myitem" ></interactive-count>
				</div>
				</div>		
		</ul>

		<ion-infinite-scroll ng-if="is_show_infinite_scroll"
		on-infinite="load_more_post()"
		icon="ion-loading-c"
		distance="1%"></ion-infinite-scroll>	
	</ion-content>
</ion-view>
