/* Empty. Add your own CSS if you like */
  .ion-shrink-content {
	top: 0 !important;
  }
  
  
  
/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 28px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.05s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

textarea {
	resize: none;
	word-wrap: break-word;
	transition: 0.05s;
	-moz-transition: 0.05s;
	-webkit-transition: 0.05s;
	-o-transition: 0.05s;
}

/**********************/


/* CSS Document */
/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

#login-body {
  background: #2c3338;
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */
#login {
  width: 280px;
}

#login form span {
  background-color: #363b41;
  border-radius: 1px 0px 0px 3px;
  color: #606468;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

#login form input {
  height: 50px;
}

#login form input[type="text"], #login form  input[type="password"] {
  background-color: #3b4148;
  border-radius: 0px 1px 1px 0px;
  color: #606468;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 230px;
}

#login form input[type="text"]::-webkit-input-placeholder, #login form  input[type="password"]::-webkit-input-placeholder {
   color: #303030;
}

#login form input[type="submit"] {
  border-radius: 0px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #ea4c88;
  color: #eee;
  font-weight: bold;
  margin-bottom: 2em;
  margin-top: 2em;
  text-transform: uppercase;
  height: 35px;
  width: 280px;
}

#login form input[type="submit"]:hover {
  background-color: #d44179;
}

#login > p {
  text-align: center;
}

#login > p span {
  padding-left: 5px;
}

/**********************/

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
    font-family: 'Open Sans', sans-serif;
}
.fb-profile {
	position: relative;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%; 
	height: 70px;
    margin-bottom: 10px;
	background-color: #112244;
}


.fb-profile-text
{
	left: 110px;
	position: relative;
}

.fb-profile-text>h1{
    font-weight: 600;
    font-size:16px;
	color:#333;
}

.fb-image-profile
{
	position: absolute;
    left: 10px;
    top: 10px;
    z-index: 9;
    width: 90px; 
	height: 90px;
	box-shadow: 1px 1px 1px #777;
	border:3px solid white;
	background-color: #eee;
}

.me-settings-image-profile
{
	position: absolute;
    left: 10px;
    top: 10px;
    z-index: 9;
    width: 90px; 
	height: 90px;
	box-shadow: 1px 1px 1px #777;
	border:3px solid white;
	background-color: #eee;
}

/******* effect to smooth delete item from list *******/

.hide-it {
      opacity:0;
  transition:opacity 300ms linear;*
}
/******* effect to smooth delete item from list *******/
.like-click-true {
	color:blue;
}
.relay-click-true {
	color:green;
}
